{#
/**
 * @file
 * Theme override of a views exposed form.
 *
 * Available variables:
 * - form: A render element representing the form.
 *
 * @see template_preprocess_views_exposed_form()
 */
#}
{% if q is not empty %}
  {#
  This ensures that, if clean URLs are off, the 'q' is added first,
  as a hidden form element, so that it shows up first in the POST URL.
  #}
  {{ q }}
{% endif %}

<section class="search with-categories toggle-wrap {{ hidden_toggle }} {{ expanded }}">
  <div class="inner flex collapsed-category-display">
    <div class="search-form">
      <svg class="icon"><use xlink:href="#icon-search"></use></svg>{{ form.keys }}
    </div>
    {% if hidden == 'false' %}
      <div class="toggle">
        <div class="filter-category-text" data-drupal-selector="primary-nav-submenu-toggle-button" id="toggle-button" href="#">CATEGORIES</div>
      </div>
      <div class="categories-list togglee" style="display: {{ expanded_toggle }}">
        {{ form.tid }}
      </div>
    {% endif %}
  </div>

  {{ form.actions }}
</section>
