{#
/**
 * @file
 * Theme override for a main view template.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - css_name: A CSS-safe version of the view name.
 * - css_class: The user-specified classes names, if any.
 * - header: The optional header.
 * - footer: The optional footer.
 * - rows: The results of the view query, if any.
 * - empty: The content to display if there are no rows.
 * - pager: The optional pager next/prev links to display.
 * - exposed: Exposed widget form/info to display.
 * - feed_icons: Optional feed icons to display.
 * - more: An optional link to the next page of results.
 * - title: Title of the view, only used when displaying in the admin preview.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the view title.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the view title.
 * - attachment_before: An optional attachment view to be displayed before the
 *   view content.
 * - attachment_after: An optional attachment view to be displayed after the
 *   view content.
 * - dom_id: Unique id for every view being printed to give unique class for
 *   Javascript.
 *
 * @see template_preprocess_views_view()
 */
#}
{% set classes = [
  'view',
  'view-' ~ id|clean_class,
  'view-id-' ~ id,
  'view-display-id-' ~ display_id,
  dom_id ? 'js-view-dom-id-' ~ dom_id,
] %}
{{ attach_library('olympian9/tabs') }}

{{ attach_library('olympian9/faculty-landing-page') }}
<div{{ attributes.addClass(classes) }}>
  <div class="container">
    <div class="filtered-view" id="filtered-toggle-icons">
      <div class="tab">
        <button onclick="gridFunction()" id="active-grid-icon-tab">
          <svg class="icon" aria-label="grid layout">
            <use xlink:href="#icon-grid"></use>
          </svg>
        </button>
        <button onclick="listFunction()" id="active-list-icon-tab">
          <svg class="icon" aria-label="list layout">
            <use xlink:href="#icon-list"></use>
          </svg>
        </button>
      </div>
    </div>

  {{ title_prefix }}
  {% if title %}
    {{ title }}
  {% endif %}
  {{ title_suffix }}
  {% if header %}
    <div class="view-header">
      {{ header }}
    </div>
  {% endif %}
  {% if exposed %}
  <div class="view-filters">
    {{ exposed }}

    {% endif %}

    {% if view.getExposedInput.keys is not empty %}
      <div class="key-search-result">
        <div class="search-term">
          <a class="cancel" href="{{ current_url }}?keys=&tid=All"></a> You searched for:
          <div class="exposed-input">{{ view.getExposedInput.keys }}</div>
        </div>
      </div>
    {% endif %}


    {% if rows %}
      <div id="Grid" class="tabcontent">
        <section class="filtered">
          <div class="container filtered-cards resource-cards flex js-load-container">
            {{ rows }}
            {% include '@olympian9/partials/contact-us-card.html.twig' %}
          </div>
        </section>
      </div>
    {% endif %}
    {% if empty %}
      <div class="view-empty">
        {{ empty }}
      </div>
    {% endif %}

    {% if attachment_after %}
      <div id="List" class="tabcontent">
        <section class="filtered list">
          <div class="container filtered-cards resource-cards flex js-load-container">
            {{ attachment_after }}
          </div>
        </section>
      </div>
    {% endif %}
    {% if more %}
      {{ more }}
    {% endif %}

    {% if footer %}
      <div class="view-footer">
        {{ footer }}
      </div>
    {% endif %}
    {% if feed_icons %}
      <div class="feed-icons">
        <div class="olympian-feed">{{ feed_icons }}</div>
      </div>
    {% endif %}
  </div>
</div>
