{#
/**
 * @file
 * Olympian's theme override to display the content region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}

{% if content %}

  {% if moderation_state == 'archived' or moderation_state == 'draft' or moderation_state == 'needs_review' %}
    {% if moderation_state == 'archived' %}
      {% set pre = 'an ' %}
      {% set state = 'unpublished' %}
    {% elseif moderation_state == 'needs_review' %}
      {% set pre = 'a ' %}
      {% set state = 'needs review' %}
    {% elseif moderation_state == 'draft' %}
      {% set pre = 'a ' %}
      {% set state = 'draft' %}
    {% endif %}
    {{ attach_library('olympian9/status-messages') }}
    {% set id = node_id %}
    {% set hashLinkTitlePre2 = 'This content is currently in ' %}
    {% set hashLinkTitleLink2 = ' state.' %}
    {% set linkClass3 = 'link access-unpublished' %}
    {% set accessUnpublishedUrl2 = id %}

    <div data-drupal-messages="" class="messages-list">
      <div class="messages__wrapper">

        <div role="contentinfo" aria-labelledby=""
             class="messages-list__item messages messages--warning">
          <div class="alert__icon warning">
            <span class="fa-stack fa-1x">
              <span role="presentation"
                    class="fas fa-circle fa-stack-2x"></span>
              <span role="presentation"
                    class="fas fa-stack-1x fa-inverse fa-exclamation-triangle"></span>
            </span>
          </div>
          <div class="messages__content">
            {{ hashLinkTitlePre2 }}{{ pre }}<a
              href="/node/{{ accessUnpublishedUrl2 }}/edit"
              class="{{ linkClass3 }} olympian-alerts-text">{{ state }}</a>{{ hashLinkTitleLink2 }}
          </div>
          <button type="button" class="button button--dismiss" title="Dismiss"
                  data-once="olympian-messages-dismiss"><span
              class="icon-close"></span>Close
          </button>
        </div>
      </div>
    </div>

    {% set accessUnpublishedUrl = getHashTag(node_id) %}
    {% if accessUnpublishedUrl is not empty %}

      {% set hashLinkTitleLink = 'hashed link' %}
      {% set hashLinkTitlePre = 'You can use the ' %}
      {% set linkClass1 = 'olympian-alert-text' %}
      {% set hashLinkTitle = ' to view this unpublished content.' %}
      {% set linkClass = 'link access-unpublished' %}

      <div data-drupal-messages="" class="messages-list">
        <div class="messages__wrapper">

          <div role="contentinfo" aria-labelledby=""
               class="messages-list__item messages messages--warning">
            <div class="alert__icon info">
              <span class="fa-stack fa-1x">
                <span role="presentation"
                      class="fas fa-circle fa-stack-2x"></span>
                <span role="presentation"
                      class="fas fa-stack-1x fa-inverse fa-info"></span>
              </span>
            </div>
            <div class="messages__content">
              {{ hashLinkTitlePre }}<a href="/node/{{ accessUnpublishedUrl2 }}/access-tokens"
                                       class="{{ linkClass }} olympian-alerts-text">{{ hashLinkTitleLink }}</a>{{ hashLinkTitle }}
            </div>
            <button type="button" class="button button--dismiss" title="Dismiss"
                    data-once="olympian-messages-dismiss"><span
                class="icon-close"></span>Close
            </button>
          </div>
        </div>
      </div>
    {% endif %}
  {% endif %}
{% endif %}
