{#
/**
 * @file
 * Theme override for the search form submit button.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_input()
 */
#}
{% set description_classes = [
	'search',
	description_display == 'invisible' ? 'visually-hidden',
] %}
<div{{ attributes.addClass(classes) }}>
  <button{{ attributes.addClass('olympian-button') }}>
    <span class="visually-hidden">{{ attributes.value }}</span>
  </button><br>
	<input{{ attributes }} />{{ children }}<br>
</div>
