{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
+-----------------------------+----------+------------------+-------------+
| Field name                  | Required | Field type       | Cardinality |
+-----------------------------+----------+------------------+-------------+
| field_background_image      | ✔        | entity_reference | 1           |
| field_call_to_action_button |          | link             | 1           |
| field_description           |          | string_long      | 1           |
| field_open_in_new_window    |          | boolean          | 1           |
| field_title                 |          | string           | 1           |
+-----------------------------+----------+------------------+-------------+
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{% block paragraph %}
  <div class="slide">
    {% if content.field_background_image.0 %}
      <div class="column half image"
           style="background-image: url('{{ file_url(paragraph.field_background_image.entity.field_media_image.entity.fileuri|image_style('square_1_1_944w')) }}');">
        <picture>
          <source
            srcset="{{ file_url(paragraph.field_background_image.entity.field_media_image.entity.fileuri|image_style('square_1_1_944w')) }}"
            media="(min-width: 600px)">
          <img
            src="{{ file_url(paragraph.field_background_image.entity.field_media_image.entity.fileuri|image_style('square_1_1_680w')) }}">
        </picture>
      </div>
      <div class="column half text">
        <div class="inner">
          {% if content.field_title.0 %}
            <h3>{{ content.field_title.0 }}</h3>
          {% endif %}
          {% if content.field_description.0 %}
            <p>{{ content.field_description.0 }}</p>
          {% endif %}
          {% if '1' in content.field_open_in_new_window[0] %}
            <a href="{{ content.field_call_to_action_button[0]['#url'] }}"
               aria-label="{{ content.field_title.0 }} - link originates outside of WashU">
              {{ content.field_call_to_action_button[0]['#title']|render }}
              <svg class="icon">
                <use xlink:href="#link-out"></use>
              </svg>
            </a>
          {% else %}
            <a href="{{ content.field_call_to_action_button[0]['#url'] }}"
               aria-label="Navigate to {{ content.field_title.0 }}">{{ content.field_call_to_action_button[0]['#title']|render }}
            </a>
          {% endif %}

        </div>
      </div>

    {% endif %}
  </div>
{% endblock paragraph %}
