{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - field_slides - ERR
 * - field_title - text plain
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}

{% block paragraph %}
  {% if content.field_article_body.0 or content.field_link_title_url[0]['#url'] or content.field_link_title[0] %}
    <article class="post">
      <h3>
        {% if content.field_link_title_url[0]['#url'] %}
          {% if ('1' in content.field_link_title_new_window[0]) or content.field_link_title_url[0]['#url'].external %}
            <a href="{{ content.field_link_title_url[0]['#url']|render }}"
               aria-label="{{ content.field_link_title[0]|render }} - link originates outside of WashU">{{ content.field_link_title[0]|render }}</a>
            {% if '1' in content.field_link_title_new_window[0] %}
              <svg class="icon">
                <use xlink:href="#link-out"></use>
              </svg>
            {% endif %}
          {% else %}
            <a href="{{ content.field_link_title_url[0]['#url']|render }}"
               aria-label="{{ content.field_link_title[0]|render }}">{{ content.field_link_title[0]|render }}</a>
          {% endif %}
        {% else %}
          {{ content.field_link_title[0]|render }}
        {% endif %}
      </h3>
      <p>{{ content.field_article_body[0]|render }}</p>
    </article>
  {% endif %}
{% endblock paragraph %}

