{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - field_first_article = ER
 * - field_fourth_article = ER
 * - field_article_two = ER
 * - field_third_article = ER
 * - field_intro_header_subtitle = text plain
 * - field_intro_header_title = text - plain
 * @see template_preprocess_block()
 */
#}

{% block paragraph %}
  <header class="dept-ampersand-header dept-ampersand-header--line">
    <div class="container dept-ampersand-header__container">
      <div class="dept-ampersand-header__title">
        {# {% if content.field_intro_header_title.0 %} #}
          <h1 class="dept-module-title">{{ current_title }}</h1>
        {# {% endif %} #}
        {% if content.field_intro_header_subtitle.0 %}
          <p class="dept-module-headline">{{ content.field_intro_header_subtitle.0 }}</p>
        {% endif %}
      </div>
      <div class="dept-ampersand-header__news">
        <div class="dept-ampersand-header__news-featured">
          {{ content.field_first_article }}
        </div>
        <div class="dept-ampersand-header__news-list">
          {{ content.field_article_two }}
          {{ content.field_third_article }}
          {{ content.field_fourth_article }}
        </div>
        <svg class="ampersand">
          <use xlink:href="#ampersand"></use>
        </svg>
      </div>
    </div>
  </header>

{% endblock paragraph %}
