{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - field_publication_degrees_color - list text
 * - field_degrees - ERR
 * - field_subtitle - text plain
 * - field_title - text plain
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}

{% set label = 'anchor-group-' ~ id %}
{% block paragraph %}
  <section class="degrees {{ content.field_publication_degrees_color.0|render|lower|replace({' ':''}) }}" id="degrees">
    <div class="dept-module-header degrees__header">
      {% if content.field_title.0 %}
        <h2 class="dept-module-title">{{ content.field_title.0 }}</h2>
      {% endif %}
      {% if content.field_subtitle.0 %}
        <p class="dept-module-headline">{{ content.field_subtitle.0 }}</p>
      {% endif %}
    </div>
    <dl class="degrees__list accordion" aria-multiselectable="true">
      {{ content.field_degrees }}
    </dl>
    <svg class="wustl-shield" id="Group_411" data-name="Group 411" xmlns="http://www.w3.org/2000/svg" width="348.161"
         height="403.052" viewBox="0 0 348.161 403.052">
      <path id="Path_14486" data-name="Path 14486"
            d="M144.805,98.366a1.465,1.465,0,0,1-1.381-1.962l5.843-16.326-13.6-11.359a1.467,1.467,0,0,1,.94-2.593h16.422l4.754-14.463a1.465,1.465,0,0,1,1.339-1.008,1.371,1.371,0,0,1,1.409.907l6,14.564h16.5a1.468,1.468,0,0,1,.971,2.568L171.126,80.025l6.34,15.782a1.468,1.468,0,0,1-2.133,1.8l-14.861-9.158-14.867,9.683A1.456,1.456,0,0,1,144.805,98.366Zm-4.154-29.307,11.283,9.422a1.471,1.471,0,0,1,.441,1.622l-4.718,13.189,11.993-7.814a1.466,1.466,0,0,1,1.572-.02l11.861,7.311-5.069-12.613a1.47,1.47,0,0,1,.393-1.648l10.73-9.45h-13.59a1.472,1.472,0,0,1-1.358-.907l-4.858-11.8-3.848,11.7a1.469,1.469,0,0,1-1.392,1.008Z"
            transform="translate(115.342 -9.637)" fill="#fff"></path>
      <path id="Path_14487" data-name="Path 14487"
            d="M108.883,102.227a1.464,1.464,0,0,1-1.381-1.959l5.844-16.329L99.758,72.58a1.468,1.468,0,0,1,.94-2.593h16.4l4.738-14.463a1.466,1.466,0,0,1,2.751-.1l5.975,14.564h16.528a1.469,1.469,0,0,1,.968,2.571L135.142,83.883l6.4,15.782a1.468,1.468,0,0,1-2.127,1.8l-14.9-9.164-14.83,9.686A1.449,1.449,0,0,1,108.883,102.227Zm-4.14-29.307,11.272,9.425a1.469,1.469,0,0,1,.441,1.619l-4.721,13.183,11.954-7.808a1.466,1.466,0,0,1,1.572-.02l11.881,7.306-5.108-12.6a1.47,1.47,0,0,1,.393-1.656l10.764-9.444H129.574a1.464,1.464,0,0,1-1.356-.909l-4.836-11.788-3.828,11.687a1.469,1.469,0,0,1-1.395,1.01Z"
            transform="translate(50.468 -2.663)" fill="#fff"></path>
      <path id="Path_14488" data-name="Path 14488"
            d="M72.773,98.365A1.465,1.465,0,0,1,71.392,96.4l5.843-16.326L63.649,68.715a1.466,1.466,0,0,1,.94-2.591H80.994l4.769-14.463A1.465,1.465,0,0,1,87.1,50.654a1.513,1.513,0,0,1,1.409.907l6,14.564h16.495a1.466,1.466,0,0,1,.968,2.568L99.1,80.023,105.446,95.8a1.468,1.468,0,0,1-2.133,1.8L88.448,88.443,73.573,98.126A1.456,1.456,0,0,1,72.773,98.365ZM68.63,69.057,79.9,78.482a1.465,1.465,0,0,1,.438,1.619L75.622,93.293l12.007-7.817a1.462,1.462,0,0,1,1.569-.02l11.867,7.311L96,80.155a1.46,1.46,0,0,1,.393-1.648l10.73-9.45H93.528a1.472,1.472,0,0,1-1.358-.907L87.306,56.343,83.45,68.05a1.47,1.47,0,0,1-1.395,1.008Z"
            transform="translate(-14.771 -9.635)" fill="#fff"></path>
      <path id="Path_14489" data-name="Path 14489"
            d="M105.7,154.934a1.981,1.981,0,0,1-.317-.025c-7.7-1.2-15.978-2.548-24.292-4.159-8.847-1.718-17.539-3.637-25.838-5.709l-1.768-.457a2.055,2.055,0,0,1-1.53-1.987V90.479a2.055,2.055,0,0,1,2.551-1.993c3.651.912,16.326,3.938,24.887,5.633,9.638,1.909,17.241,3.343,24.645,4.648l1.923.331a2.059,2.059,0,0,1,1.715,2.024l.079,51.758a2.055,2.055,0,0,1-2.054,2.054ZM56.066,141.007l.216.056c8.2,2.043,16.818,3.949,25.594,5.65,7.4,1.44,14.791,2.661,21.769,3.764l-.073-47.624-.239-.039c-7.44-1.314-15.069-2.751-24.735-4.665-7.188-1.426-17.244-3.778-22.532-5.055Z"
            transform="translate(-34.944 58.608)" fill="#fff"></path>
      <path id="Path_14490" data-name="Path 14490"
            d="M145.957,154.937a2.055,2.055,0,0,1-2.054-2.055l.081-51.758A2.049,2.049,0,0,1,145.7,99.1l1.925-.334c7.418-1.305,15.019-2.739,24.64-4.645,8.67-1.72,21.277-4.729,24.887-5.633a2.056,2.056,0,0,1,2.551,1.993V142.6a2.052,2.052,0,0,1-1.527,1.987l-1.746.449c-8.294,2.074-16.986,3.994-25.861,5.717-8.271,1.6-16.562,2.95-24.292,4.159A2.01,2.01,0,0,1,145.957,154.937Zm2.13-52.081-.073,47.624c7-1.106,14.4-2.332,21.769-3.764,8.8-1.706,17.424-3.609,25.622-5.658l.188-.048V93.1c-5.26,1.269-15.263,3.609-22.532,5.052-9.655,1.911-17.281,3.348-24.732,4.662Z"
            transform="translate(131.173 58.606)" fill="#fff"></path>
      <path id="Path_14491" data-name="Path 14491"
            d="M206.12,137.168c-97.813,0-152.335-18.763-152.877-18.951a1.471,1.471,0,0,1-.98-1.386V45.359a1.463,1.463,0,0,1,.559-1.154,1.447,1.447,0,0,1,1.255-.272c.657.157,66.715,15.894,154.255,16.579,1.993.014,3.96.022,5.922.022h.017c90.089,0,147.934-16.419,148.507-16.585a1.464,1.464,0,0,1,1.875,1.409v71.472a1.463,1.463,0,0,1-1.106,1.423c-.741.188-74.857,18.684-155.22,18.911ZM55.2,115.773c7.735,2.5,60.809,18.462,150.923,18.462l2.2,0c74.641-.213,143.876-16.253,153.4-18.552v-68.4c-10.663,2.8-65.991,16.192-147.449,16.194h-.017c-1.97,0-3.943-.008-5.945-.025C128.485,62.822,66.421,49.721,55.2,47.2Z"
            transform="translate(-34.389 -21.857)" fill="#fff"></path>
      <g id="Group_407" data-name="Group 407" transform="translate(45.403 273.521)">
        <path id="Path_14492" data-name="Path 14492"
              d="M78.327,173.033h-4.8a1.056,1.056,0,0,1-1.058-1.055V159.062l-2.658-5.521a1.067,1.067,0,0,1-.1-.455l-.036-13.48a1.066,1.066,0,0,1,.32-.761l5.184-5.052a1.058,1.058,0,0,1,1.476,0l5.167,5.052a1.069,1.069,0,0,1,.317.758v13.48a1.039,1.039,0,0,1-.1.457l-2.647,5.521v12.916A1.057,1.057,0,0,1,78.327,173.033Zm-3.744-2.111h2.689v-12.1a1.082,1.082,0,0,1,.1-.46l2.647-5.521v-12.8l-4.112-4.019-4.123,4.019.031,12.8,2.661,5.521a1.042,1.042,0,0,1,.1.46Z"
              transform="translate(-48.343 -133.493)" fill="#fff"></path>
        <path id="Path_14493" data-name="Path 14493"
              d="M81.983,160.446H77.767a1.056,1.056,0,0,1-1.058-1.055v-6.6l-3.941-3.632-5.19,3.374a1.059,1.059,0,0,1-1.328-.143l-3.873-3.918a1.064,1.064,0,0,1-.306-.744v-6.211a1.056,1.056,0,0,1,1.058-1.055H76.285a1.064,1.064,0,0,1,.839.413l5.7,7.463a1.047,1.047,0,0,1,.216.64v10.416A1.054,1.054,0,0,1,81.983,160.446Zm-3.16-2.111h2.105v-9l-5.164-6.761H64.185v4.724l2.964,3,5.156-3.351a1.049,1.049,0,0,1,1.291.109l4.884,4.5a1.048,1.048,0,0,1,.342.777Z"
              transform="translate(-62.072 -120.906)" fill="#fff"></path>
        <path id="Path_14494" data-name="Path 14494"
              d="M79.555,160.446h-4.23a1.056,1.056,0,0,1-1.055-1.055V148.975a1.033,1.033,0,0,1,.219-.64l5.706-7.463a1.068,1.068,0,0,1,.839-.413H94.181a1.054,1.054,0,0,1,1.055,1.055v6.211a1.067,1.067,0,0,1-.3.741l-3.862,3.918a1.055,1.055,0,0,1-1.328.146l-5.192-3.374-3.938,3.632v6.6A1.056,1.056,0,0,1,79.555,160.446Zm-3.172-2.111H78.5v-6.009a1.055,1.055,0,0,1,.34-.777l4.884-4.5a1.049,1.049,0,0,1,1.291-.109l5.156,3.348,2.953-2.995v-4.724H81.556l-5.173,6.761Z"
              transform="translate(-40.034 -120.906)" fill="#fff"></path>
        <path id="Path_14495" data-name="Path 14495"
              d="M72.321,159.416a1.077,1.077,0,0,1-.685-.25L66.2,154.572a1.05,1.05,0,0,1-.373-.806v-4.022a1.052,1.052,0,0,1,1.055-1.055h8.277a1.055,1.055,0,0,1,1.058,1.055v5.167a1.06,1.06,0,0,1-.241.674l-2.843,3.447a1.057,1.057,0,0,1-.721.382C72.383,159.416,72.352,159.416,72.321,159.416Zm-4.378-6.141,4.244,3.59,1.92-2.33V150.8H67.942Z"
              transform="translate(-55.284 -106.039)" fill="#fff"></path>
        <path id="Path_14496" data-name="Path 14496"
              d="M78.154,159.416c-.031,0-.065,0-.1,0a1.057,1.057,0,0,1-.721-.382L74.5,155.585a1.06,1.06,0,0,1-.241-.674v-5.167a1.052,1.052,0,0,1,1.055-1.055H83.59a1.052,1.052,0,0,1,1.055,1.055v4.022a1.059,1.059,0,0,1-.373.806l-5.437,4.595A1.069,1.069,0,0,1,78.154,159.416Zm-1.782-4.881,1.917,2.33,4.244-3.59V150.8H76.371Z"
              transform="translate(-40.056 -106.039)" fill="#fff"></path>
        <path id="Path_14497" data-name="Path 14497"
              d="M75.823,168.01a1.06,1.06,0,0,1-.82-.387l-5.066-6.208a1.062,1.062,0,0,1-.053-1.266l2.944-4.291v-6.113a1.052,1.052,0,0,1,1.055-1.055h3.862a1.055,1.055,0,0,1,1.058,1.055v6.11l2.944,4.294a1.054,1.054,0,0,1-.051,1.266s-4.726,5.79-5.024,6.169a1.055,1.055,0,0,1-.477.359A1.081,1.081,0,0,1,75.823,168.01Zm-3.75-7.32,3.755,4.6c.7-.879,1.844-2.285,3.73-4.6l-2.683-3.91a1.052,1.052,0,0,1-.185-.6V150.8H74.939v5.386a1.072,1.072,0,0,1-.182.6Z"
              transform="translate(-48.29 -106.039)" fill="#fff"></path>
      </g>
      <g id="Group_408" data-name="Group 408" transform="translate(139.491 289.895)">
        <path id="Path_14498" data-name="Path 14498"
              d="M116.092,189.814H109.9a1.14,1.14,0,0,1-1.145-1.142v-16.8l-3.433-7.2a1.129,1.129,0,0,1-.109-.488l-.053-17.494a1.134,1.134,0,0,1,.362-.839l6.669-6.222a1.15,1.15,0,0,1,1.561,0l6.688,6.222a1.147,1.147,0,0,1,.365.839v17.494a1.116,1.116,0,0,1-.112.494l-3.458,7.2v16.792A1.14,1.14,0,0,1,116.092,189.814Zm-5.049-2.285h3.9V171.618a1.178,1.178,0,0,1,.112-.5l3.461-7.2V147.192l-5.549-5.156-5.521,5.153.051,16.736,3.433,7.2a1.162,1.162,0,0,1,.109.494Z"
              transform="translate(-78.314 -139.327)" fill="#fff"></path>
        <path id="Path_14499" data-name="Path 14499"
              d="M121.2,173.709h-5.49a1.142,1.142,0,0,1-1.145-1.142V163.9l-5.3-4.881-6.888,4.468a1.14,1.14,0,0,1-1.434-.157l-5.01-5.074a1.141,1.141,0,0,1-.331-.806v-8.069a1.144,1.144,0,0,1,1.145-1.142h17.053a1.149,1.149,0,0,1,.909.446l7.4,9.672a1.133,1.133,0,0,1,.236.7v13.511A1.14,1.14,0,0,1,121.2,173.709Zm-4.348-2.285h3.2V159.44l-6.823-8.911H97.885v6.455l4.022,4.081,6.851-4.443a1.138,1.138,0,0,1,1.4.118l6.326,5.821a1.136,1.136,0,0,1,.368.842Z"
              transform="translate(-95.595 -123.222)" fill="#fff"></path>
        <path id="Path_14500" data-name="Path 14500"
              d="M117.476,173.709h-5.538a1.138,1.138,0,0,1-1.142-1.142V159.055a1.141,1.141,0,0,1,.236-.7l7.438-9.672a1.153,1.153,0,0,1,.907-.443h17.042a1.142,1.142,0,0,1,1.142,1.142v8.069a1.16,1.16,0,0,1-.326.806l-5,5.074a1.149,1.149,0,0,1-1.437.157l-6.885-4.465-5.3,4.878v8.664A1.14,1.14,0,0,1,117.476,173.709Zm-4.4-2.285h3.253V163.4a1.133,1.133,0,0,1,.365-.842l6.315-5.821a1.138,1.138,0,0,1,1.4-.118l6.848,4.44,4.016-4.078v-6.455H119.943l-6.862,8.914Z"
              transform="translate(-68.132 -123.222)" fill="#fff"></path>
        <path id="Path_14501" data-name="Path 14501"
              d="M108.662,172.11a1.116,1.116,0,0,1-.738-.272l-7.036-5.964a1.139,1.139,0,0,1-.4-.87v-5.2a1.144,1.144,0,0,1,1.145-1.142h10.738a1.142,1.142,0,0,1,1.142,1.142v6.688a1.15,1.15,0,0,1-.261.73l-3.7,4.474a1.141,1.141,0,0,1-.78.41C108.729,172.11,108.7,172.11,108.662,172.11Zm-5.888-7.637,5.748,4.872,2.7-3.261V160.95h-8.448Z"
              transform="translate(-86.764 -104.392)" fill="#fff"></path>
        <path id="Path_14502" data-name="Path 14502"
              d="M115.677,172.11c-.034,0-.065,0-.1,0a1.145,1.145,0,0,1-.777-.4l-3.739-4.474a1.134,1.134,0,0,1-.267-.735v-6.688a1.14,1.14,0,0,1,1.142-1.142h10.778a1.14,1.14,0,0,1,1.142,1.142V165a1.146,1.146,0,0,1-.4.873l-7.039,5.964A1.142,1.142,0,0,1,115.677,172.11Zm-2.6-6.029,2.737,3.27,5.756-4.878V160.95h-8.493Z"
              transform="translate(-68.132 -104.392)" fill="#fff"></path>
        <path id="Path_14503" data-name="Path 14503"
              d="M112.887,183.255a1.143,1.143,0,0,1-.89-.424l-6.531-8.052a1.146,1.146,0,0,1-.056-1.364l3.834-5.613v-8a1.142,1.142,0,0,1,1.145-1.142h4.979a1.142,1.142,0,0,1,1.145,1.142v8l3.845,5.611a1.137,1.137,0,0,1-.053,1.367s-6.172,7.6-6.5,8.019a1.125,1.125,0,0,1-.915.458ZM107.782,174l5.119,6.312c.881-1.128,2.419-3.026,5.088-6.312l-3.564-5.2a1.146,1.146,0,0,1-.2-.645v-7.2h-2.694v7.2a1.156,1.156,0,0,1-.2.643Z"
              transform="translate(-78.219 -104.392)" fill="#fff"></path>
      </g>
      <g id="Group_409" data-name="Group 409" transform="translate(247.511 273.52)">
        <path id="Path_14504" data-name="Path 14504"
              d="M150.336,173.034h-4.813a1.054,1.054,0,0,1-1.055-1.055V159.062l-2.65-5.524a1.094,1.094,0,0,1-.1-.452l-.034-13.48a1.052,1.052,0,0,1,.317-.761l5.181-5.052a1.052,1.052,0,0,1,1.474,0l5.17,5.052a1.057,1.057,0,0,1,.317.758v13.48a1.08,1.08,0,0,1-.1.457l-2.647,5.521v12.916A1.054,1.054,0,0,1,150.336,173.034Zm-3.758-2.111h2.7v-12.1a1.041,1.041,0,0,1,.1-.46l2.647-5.521v-12.8l-4.115-4.019-4.123,4.019.034,12.8,2.649,5.524a1.1,1.1,0,0,1,.1.458Z"
              transform="translate(-120.349 -133.493)" fill="#fff"></path>
        <path id="Path_14505" data-name="Path 14505"
              d="M154.007,160.446h-4.23a1.054,1.054,0,0,1-1.055-1.055v-6.6l-3.932-3.632-5.2,3.374a1.065,1.065,0,0,1-1.328-.143l-3.876-3.918a1.073,1.073,0,0,1-.3-.744v-6.211a1.054,1.054,0,0,1,1.055-1.055h13.158a1.06,1.06,0,0,1,.839.413l5.709,7.463a1.05,1.05,0,0,1,.219.64v10.416A1.054,1.054,0,0,1,154.007,160.446Zm-3.174-2.111h2.119v-9l-5.175-6.764H136.193v4.724l2.969,3,5.167-3.351a1.053,1.053,0,0,1,1.294.109l4.872,4.5a1.068,1.068,0,0,1,.337.777Z"
              transform="translate(-134.082 -120.905)" fill="#fff"></path>
        <path id="Path_14506" data-name="Path 14506"
              d="M151.563,160.446h-4.227a1.054,1.054,0,0,1-1.055-1.055V148.975a1.047,1.047,0,0,1,.216-.64l5.706-7.463a1.058,1.058,0,0,1,.836-.413h13.166a1.054,1.054,0,0,1,1.055,1.055v6.211a1.064,1.064,0,0,1-.306.744l-3.876,3.918a1.067,1.067,0,0,1-1.328.143l-5.2-3.374-3.938,3.632v6.6A1.054,1.054,0,0,1,151.563,160.446Zm-3.172-2.111h2.116v-6.009a1.055,1.055,0,0,1,.34-.777l4.881-4.5a1.05,1.05,0,0,1,1.291-.109l5.161,3.351,2.969-3v-4.724H153.561l-5.17,6.761Z"
              transform="translate(-112.042 -120.905)" fill="#fff"></path>
        <path id="Path_14507" data-name="Path 14507"
              d="M144.328,159.416a1.069,1.069,0,0,1-.682-.25l-5.434-4.595a1.059,1.059,0,0,1-.373-.806v-4.022a1.052,1.052,0,0,1,1.055-1.055h8.277a1.052,1.052,0,0,1,1.055,1.055v5.167a1.06,1.06,0,0,1-.241.674l-2.843,3.447a1.045,1.045,0,0,1-.719.382C144.393,159.416,144.359,159.416,144.328,159.416Zm-4.378-6.141,4.244,3.59,1.923-2.33V150.8H139.95Z"
              transform="translate(-127.294 -106.038)" fill="#fff"></path>
        <path id="Path_14508" data-name="Path 14508"
              d="M150.165,159.416c-.031,0-.062,0-.093,0a1.051,1.051,0,0,1-.721-.382l-2.843-3.447a1.073,1.073,0,0,1-.239-.674v-5.167a1.05,1.05,0,0,1,1.053-1.055h8.268a1.052,1.052,0,0,1,1.055,1.055v4.022a1.05,1.05,0,0,1-.373.806l-5.425,4.595A1.063,1.063,0,0,1,150.165,159.416Zm-1.788-4.881,1.923,2.33,4.235-3.59V150.8h-6.158Z"
              transform="translate(-112.064 -106.038)" fill="#fff"></path>
        <path id="Path_14509" data-name="Path 14509"
              d="M147.832,168.01a1.06,1.06,0,0,1-.82-.387l-5.063-6.211a1.053,1.053,0,0,1-.053-1.263l2.944-4.291v-6.113a1.052,1.052,0,0,1,1.055-1.055h3.862a1.052,1.052,0,0,1,1.055,1.055v6.113l2.944,4.291a1.054,1.054,0,0,1-.053,1.266s-4.735,5.8-5.027,6.172a1.071,1.071,0,0,1-.474.359A1.158,1.158,0,0,1,147.832,168.01Zm-3.744-7.32,3.75,4.6c.7-.879,1.841-2.285,3.73-4.6l-2.68-3.91a1.053,1.053,0,0,1-.185-.6V150.8h-1.751v5.386a1.05,1.05,0,0,1-.182.6Z"
              transform="translate(-120.299 -106.038)" fill="#fff"></path>
      </g>
      <g id="Group_410" data-name="Group 410" transform="translate(83.498 126.642)">
        <path id="Path_14510" data-name="Path 14510"
              d="M151.661,188.867a2.046,2.046,0,0,1-1.465-.615l-8.661-8.807H85.895c-.053,0-.247-.011-.3-.017a2.054,2.054,0,0,1-1.892-2.052l.079-94.164a2.053,2.053,0,0,1,2.338-2.032l57.309-.011a2.053,2.053,0,0,1,1.749.71l6.483,6.447,6.337-6.3a2.046,2.046,0,0,1,1.333-.831,1.547,1.547,0,0,1,.379-.028h57.7a2.477,2.477,0,0,1,1.37.469,2.057,2.057,0,0,1,.763,1.575l.081,94.164a2.051,2.051,0,0,1-1.872,2.049c-.062.006-.244.02-.306.02H161.782l-8.656,8.807A2.047,2.047,0,0,1,151.661,188.867ZM87.812,175.333l54.55.006a2.124,2.124,0,0,1,1.5.615l7.8,7.932,7.8-7.932a2.037,2.037,0,0,1,1.465-.615h54.6l-.076-90.063H160.558l-7.449,7.4a2.056,2.056,0,0,1-2.9,0l-7.44-7.4H87.888Z"
              transform="translate(-61.087 -81.161)" fill="#fff"></path>
        <path id="Path_14511" data-name="Path 14511"
              d="M166.219,208.483a2.046,2.046,0,0,1-1.381-.53l-13.663-12.4H77.7a2.054,2.054,0,0,1-2.054-2.054V96.771a2.053,2.053,0,0,1,.783-1.611L88.415,85.7a2.053,2.053,0,0,1,3.326,1.614L91.7,179.431l63.706.006a2.052,2.052,0,0,1,1.35.5l9.461,8.243,9.447-8.243a2.064,2.064,0,0,1,1.353-.5h63.74l-.1-92.126a2.054,2.054,0,0,1,3.323-1.617l12.038,9.464a2.05,2.05,0,0,1,.783,1.614V193.5a2.051,2.051,0,0,1-2.052,2.054H181.269l-13.669,12.4A2.046,2.046,0,0,1,166.219,208.483ZM79.754,191.446H151.97a2.062,2.062,0,0,1,1.381.53l12.869,11.681,12.88-11.681a2.044,2.044,0,0,1,1.378-.53H252.7V97.771l-7.929-6.231.1,89.929a2.052,2.052,0,0,1-1.838,2.046c-.07.008-.3.025-.37.025H177.785l-10.216,8.914a2.05,2.05,0,0,1-2.7,0l-10.23-8.914H89.793c-.073,0-.3-.017-.373-.025a2.057,2.057,0,0,1-1.83-2.043l.042-89.923-7.878,6.22Z"
              transform="translate(-75.645 -73.768)" fill="#fff"></path>
      </g>
      <path id="Path_14512" data-name="Path 14512"
            d="M219.9,439.091h0c-4.569,0-100.3-33.98-124.308-45.861C76.931,384,51.37,371.352,47.823,346.392c-2.313-16.262-2.029-31.454-1.726-47.539.107-5.765.219-11.726.2-17.7-.093-26.837-.076-53.464.048-79.143.062-11.74.062-23.481.065-35.218,0-14.457,0-28.917.118-43.374.073-9.066.067-18.131.062-27.194-.006-10.823-.011-22.016.124-33.037.056-4.971.053-9.95.053-14.929q0-4.648.011-9.293a2.94,2.94,0,0,1,3.632-2.84c.786.194,79.867,19.217,167.14,19.217l2.411-.006,2.433.006c87.273,0,166.374-19.024,167.163-19.217a2.938,2.938,0,0,1,3.626,2.84q.021,4.639.011,9.284c0,4.979-.006,9.958.053,14.937.126,10.971.121,22.111.115,32.886-.006,9.113-.011,18.229.059,27.345.126,14.929.129,29.857.129,44.789q0,16.9.053,33.8c.135,25.485.154,52.112.062,79.143-.02,5.967.09,11.923.2,17.685.3,16.088.584,31.286-1.729,47.556C388.57,371.358,363.02,384,344.362,393.23c-24.022,11.886-119.769,45.861-124.33,45.861ZM52.633,42.66q0,2.8,0,5.6c0,5,0,10-.056,15-.132,10.985-.126,22.159-.121,32.964.006,9.08.008,18.162-.065,27.244-.112,14.44-.115,28.886-.118,43.327,0,11.749,0,23.5-.062,35.249-.123,25.659-.14,52.271-.048,79.089.022,6.043-.09,12.035-.2,17.834-.295,15.844-.575,30.806,1.67,46.6,3.113,21.9,27.07,33.753,44.564,42.409,24.673,12.212,114.557,43.764,121.768,45.23,7.224-1.471,97.136-33.032,121.8-45.23,17.488-8.653,41.438-20.506,44.556-42.409,2.248-15.8,1.97-30.772,1.676-46.619-.109-5.793-.219-11.782-.2-17.817.09-27.011.07-53.621-.062-79.089q-.08-16.92-.056-33.834c0-14.915,0-29.827-.126-44.741-.07-9.133-.065-18.266-.062-27.4.006-10.755.011-21.878-.112-32.81-.062-5-.059-10.009-.056-15.013q0-2.791,0-5.582c-16.559,3.713-87.554,18.547-164.931,18.547l-2.433-.006-2.411.006C140.168,61.209,69.19,46.376,52.633,42.66Z"
            transform="translate(-45.895 -36.039)" fill="#fff"></path>
      <path id="Path_14513" data-name="Path 14513"
            d="M209.269,258.036a1.441,1.441,0,0,1-.519-.1c-3.71-1.4-9.778-3.632-17.275-6.385-28.5-10.475-76.215-28.011-95.239-36.871l-2.868-1.328c-16.649-7.7-37.374-17.284-40.293-38.059-1.69-12.041-1.3-26.284-.96-38.856.079-2.846.152-5.619.2-8.263a1.471,1.471,0,0,1,1.819-1.4c.679.171,68.9,16.773,151.953,16.773l3.174-.006,3.188.006c83.058,0,151.277-16.6,151.956-16.773a1.482,1.482,0,0,1,1.246.264,1.464,1.464,0,0,1,.573,1.134c.048,2.7.126,5.524.2,8.431.34,12.515.724,26.7-.96,38.684-2.916,20.775-23.635,30.357-40.281,38.058l-2.874,1.33c-19.094,8.894-66.962,26.481-95.562,36.989-7.348,2.7-13.3,4.889-16.966,6.267A1.427,1.427,0,0,1,209.269,258.036ZM55.213,130.051c-.045,2.094-.1,4.258-.166,6.472-.337,12.453-.724,26.568.932,38.367,2.7,19.189,21.78,28.016,38.62,35.8l2.874,1.333c18.914,8.81,66.552,26.315,95.014,36.776,7.165,2.635,13.031,4.788,16.781,6.2,3.7-1.389,9.45-3.5,16.472-6.082,28.555-10.494,76.347-28.053,95.334-36.894l2.88-1.336c16.832-7.786,35.914-16.613,38.609-35.8,1.648-11.746,1.269-25.8.932-38.2-.059-2.268-.121-4.488-.166-6.638-11.314,2.607-74.93,16.436-150.878,16.436l-3.188-.008-3.174.008C130.138,146.487,66.524,132.659,55.213,130.051Z"
            transform="translate(-35.197 127.825)" fill="#fff"></path>
    </svg>
  </section>
{% endblock paragraph %}
